<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Problem
    </p>
    <div class="card-header-icon" aria-label="more options">
      <span class="icon has-text-link"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
    </div>
  </header>
  <div class="card-content">
    <form>
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label for="name" class="label">Name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <input type="text" id="name" class="input is-small">
            </div>
          </div>
          <div class="field">
            <div class="control is-expanded has-icons-left">
              <input type="url" class="input is-small">
              <span class="icon is-left"><i class="fas fa-link"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label for="abstract" class="label">Abstract</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <textarea id="abstract" class="textarea is-small"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label class="label">Tags</label>
        </div>
        <div class="field-body">
          <div class="field is-grouped is-grouped-multiline">
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-link">Tag</span>
                <a class="tag is-delete"></a>
              </div>
            </div>
            <div class="control">
              <input type="text" class="input is-small" placeholder="tag name">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label for="assumptions" class="label">Assumptions</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <textarea id="assumptions" class="textarea is-small"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label for="edgecases" class="label">Edge Cases</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <textarea id="edgecases" class="textarea is-small"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label class="label">Solutions</label>
        </div>
        <div class="field-body">
          <div class="field is-grouped is-grouped-multiline">
            <div class="control">
              <div class="tags has-addons">
                <a class="tag is-success">solution 1</a>
                <a class="tag is-delete"></a>
              </div>
            </div>
            <div class="control">
              <input type="text" class="input is-small" placeholder="solution name">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
</div>
