<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Solution
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon"><i class="fas fa-times" aria-hidden="true"></i></span>
    </a>
  </header>
  <div class="card-content">
    <form>
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label for="language" class="label">language</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <input type="text" id="language" class="input is-small">
            </div>
          </div>
          <div class="field">
            <div class="field has-addons">
              <label for="complexity" class="control">
                <span class="button is-static is-small">Complexity</span>
              </label>
              <div class="control is-expanded">
                <input type="text" id="complexity" class="input is-small">
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label class="checkbox is-small">
                      <input type="checkbox">
                      <span class="is-size-7">&nbsp;Is Priviate</span>
                  </label>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label for="explanation" class="label">Explanation</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <textarea id="explanation" class="textarea is-small"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label for="code" class="label">Code</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <textarea id="code" class="textarea is-small"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label class="label">Tags</label>
        </div>
        <div class="field-body">
          <div class="field is-grouped is-grouped-multiline">
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-link">Tag</span>
                <a class="tag is-delete"></a>
              </div>
            </div>
            <div class="control">
              <input type="text" class="input is-small" placeholder="tag name">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-small">
          <label class="label">Share</label>
        </div>
        <div class="field-body">
          <div class="field is-grouped is-grouped-multiline">
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-link">User 1</span>
                <a class="tag is-delete"></a>
              </div>
            </div>
            <div class="control">
              <input type="text" class="input is-small" placeholder="user">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
</div>
