<section class="section">
    <div class="container">
        <nav class="breadcrumb is-small" aria-label="breadcrumbs">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="is-active"><a href="#!dashboard">Dashboard</a></li>
            </ul>
        </nav>
    </div>
    <div class="container" *ngIf="user._id">
        <div class="level">
            <div class="tile is-ancestor">
                <div class="tile is-8 is-vertical is-parent">
                    <div class="tile is-child card">
                        <div class="card-header">
                            <div class="card-header-title">
                                {{user.nickname || user._id}}
                            </div>
                            <div class="card-header-icon">
                                <button class="button is-white" (click)="toggleEditUser()">
                                <span class="icon" *ngIf="!is_edit_user"><i class="fas fa-fw fa-pencil-alt"></i></span>
                                <span class="icon has-text-success" *ngIf="is_edit_user"><i class="fas fa-fw fa-check"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="field">
                                <label class="label">ID</label>
                                <div class="control">
                                    <input class="input is-static" type="input" readonly [(ngModel)]="user._id">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="input_nickname">Nickname</label>
                                <div class="control">
                                    <input class="input is-static" type="input" readonly [(ngModel)]="user.nickname" *ngIf="!is_edit_user">
                                    <input class="input" type="input" id="input_nickname" [(ngModel)]="editedUser.nickname" *ngIf="is_edit_user">
                                </div>
                            </div>
                            <div class="field" *ngIf="is_edit_user">
                                <label class="label" for="input_password">Password</label>
                                <div class="control">
                                    <input class="input" type="password" id="input_password" [(ngModel)]="editedUser.password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-child card">
                        <div class="card-header" (click)="toggleNotebook()" >
                            <div class="card-header-title">
                                Notebook {{(user.notebook||{})._id||''}}
                                <div *ngIf="user.notebook && user.notebook.notes">
                                    <span class="tag">{{user.notebook.notes.length}}</span>
                                </div>
                            </div>
                            <span class="card-header-icon">
                                <span class="icon has-text-info" *ngIf="!is_active_notebook"><i class="fas fa-fw fa-chevron-down"></i></span>
                                <span class="icon" *ngIf="is_active_notebook"><i class="fas fa-fw fa-chevron-up"></i></span>
                            </span>
                        </div>
                        <div class="card-body" *ngIf="is_active_notebook">
                        </div>
                    </div>
                </div>
                <div class="tile is-4 is-parent">
                    <div class="tile is-child card">
                        <div class="card-header-title">
                            Solutions
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section is-cliped is-overlay" style="top: auto">
        <div class="container">
            <div class="columns">
                <div class="column is-6 is-offset-6">
                    <div class="notification is-marginless" *ngFor="let message of messages" [ngClass]="'is-'+message.type">{{message.text}}</div>
                </div>
            </div>
        </div>
    </section>
</section>
<app-footer></app-footer>
